.searchbar-container {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    padding: 0;
    flex: 1;
    align-items: stretch;
}

.searchbar {
    background: white;
    padding-right: 20px;
    flex: 1;
}
.searchBlockTag select{
    padding: 7px 10px;
}
.searchBlockTag select option:hover{
    font-size: 16px;
}
